@import '../../assets/styles/main.scss';

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  &__content {
    position: relative;
    max-width: fit-content;
    min-height: 200px;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    width: 374px;
    min-width: 150px;
  }

  &__header {
    font-size: 18px;
    margin-bottom: 20px;
    color: $scampi;
    font-weight: 600;
    text-transform: capitalize;
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    left: auto;
  }
}
