@import '../../assets/styles/main.scss';

.quotes-signin {
  .google-signin {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 6px;
    font-size: 16px;
    font-weight: normal;
    color: #40424c;

    &:hover {
      background-color: $greyish-blue;
      color: rgb(49, 28, 56);
    }

    & > img {
      width: 22px;
    margin-right: 4px;
    }
  }
}