@import '../../assets/styles/main.scss';

.quotes-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 30px;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: $body-bg;
  color: $txt-primary-bold;
  font-size: 15px;
  text-align: center;
  border-top: 1px solid #cacaca;
  margin: 10px auto 0;
}