@import url('https://fonts.googleapis.com/css2?family=Rubik');

// Font stack
$sans-serif: Helvetica, Verdana, sans-serif;
$rubik: 'Rubik', sans-serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
$bolder: 900;

// Colors
$white: #fff;
$body-bg: #f5f6fa;
$txt-primary: #6e6e6e;
$txt-primary-bold: #40424c;
$scampi: #60629a;
$burnt-sienna: #ec6867;