// Font stack
$sans-serif: "Source Sans Pro", Helvetica, Verdana, sans-serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Colors
$white: #fff;
$body-bg: #f5f6fa;
$txt-primary: #8e9297;
$txt-primary-bold: #40424c;
$scampi: #60629a;
$burnt-sienna: #ec6867;